<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>___TITLE___</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
    <link rel="stylesheet" href="../css/styles.css">
</head>

<body>


    <div id="app">
        <div class="appbar" style="margin: 15px;">
            <i class="fa-solid fa-gear"></i>
            <i class="fa-solid fa-scroll"></i>
        </div>
    </div>


    <script src="https://unpkg.com/vue@3"></script>


    <script src="../js/internal/forwarder.js"></script>
    <script src="../js/internal/app_loader.js"></script>
    <script src="../js/script.js"></script>
</body>

</html>