html,
body,
#app {
    font-family: "Roboto";
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: transparent;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    user-select: none;
}


.titlebar {
    -webkit-app-region: drag;
    width: 100%;
    height: 25px;
    background-color: rgb(70, 70, 70);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(212, 212, 212);
    font-size: 16px;
}

.titlebar .delete {
    position: absolute;
    right: 10px;
}

.delete:hover {
    background-color: rgb(94, 94, 94);
}

.checkbox {
    color: rgb(182, 182, 182);
}

.checkbox:hover {
    color: rgb(212, 212, 212);
}

.separator {
    width: 100%;
    height: 10px;
}

.stat {
    color: white;
    display: flex;
    flex-direction: column;
}


.content {
    width: 100%;
    height: 100%;
    background-color: rgb(90, 90, 90);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 5px;
    overflow-y: auto;
    padding-bottom: 50px;
}








.setting-content>div {
    display: flex;
    align-items: center;
    gap: 10px;
}

.setting-content>div>input {
    height: 24px;
}

fieldset.group {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 2px 5px 10px 10px;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 16px;
    font-weight: normal;
}

fieldset.group legend {
    color: rgb(209, 209, 118);
    font-size: 18px;
    font-weight: bold;
    padding: 0 10px;
}








::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #888;
}

::-webkit-scrollbar-thumb {
    background: #cccccc;
}





input[type="color"] {
    -webkit-appearance: none;
    border: none;
    border-radius: 100px;
}

input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
    border-radius: 100px;
}

input[type="color"]::-webkit-color-swatch {
    border: none;
    border-radius: 100px;
}


.logs {
    color: white;
}